/** ------------------------------------------------------------
  ##  TAILWIND CSS
  --------------------------------------------------------- */

@import '_tailwind-preflight';
@import '_tailwind-utilities';

/** ------------------------------------------------------------
  ##  CUSTOM CLASSES
  --------------------------------------------------------- */
  a.skip {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
a.skip:focus, a.skip:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid config('colors.purple');
    text-align:center;
    font-size:1.2em;
    z-index:999;
}


  p {
  @apply .mt-4 .mb-4
}
